<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net xmlns="urn:log4net" debug="false">
    <appender name="SqlServerRequestAppender" type="log4net.Appender.ADONetAppender">
      <param name="bufferSize" value="1" />
      <param name="connectionType" value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <param name="connectionString" value="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Redpackets;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Redpackets.mdf"/>
      <param name="commandText" value="INSERT INTO Joya_RequestLog ([Method],[UserAgent],[Uri],[Refer],[Header],[Form],[SpendTime],[Ip],[Country],[Province],[City],[CreatedAt],[UpdatedAt]) VALUES (@method,@userAgent,@uri,@refer,@header,@form,@spendTime,@ip,@country,@province,@city,@createdAt,@updatedAt)" />
      <parameter>
        <parameterName value="@updatedAt" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@method" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{method}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@methodName" />
        <dbType value="String" />
        <size value="10" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{methodName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@userAgent" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{userAgent}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@uri" />
        <dbType value="String" />
        <size value="200" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{uri}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@refer" />
        <dbType value="String" />
        <size value="500" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{refer}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@header" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{header}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@form" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{form}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@spendTime" />
        <dbType value="Double" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{spendTime}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@createdAt" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{createdAt}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ip" />
        <dbType value="String" />
        <size value="15" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ip}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@country" />
        <dbType value="String" />
        <size value="40" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{country}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@province" />
        <dbType value="String" />
        <size value="40" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{province}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@city" />
        <dbType value="String" />
        <size value="40" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{city}" />
        </layout>
      </parameter>
    </appender>
    <appender name="SqlServerSqlAppender" type="log4net.Appender.ADONetAppender">
      <param name="bufferSize" value="1" />
      <param name="connectionType" value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <param name="connectionString" value="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Redpackets;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Redpackets.mdf" />
      <param name="commandText" value="INSERT INTO Joya_SqlLog ([Message],[Exception],[Sql],[DbParameters],[SpendTime],[CreatedAt],[UpdatedAt]) VALUES (@message,@exception,@sql,@dbParameters,@spendTime,@createdAt,@updatedAt)" />
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@sql" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{sql}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@dbParameters" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{dbParameters}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@spendTime" />
        <dbType value="Double" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{spendTime}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@createdAt" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{createdAt}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@updatedAt" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
    </appender>
    <appender name="SqlServerAppender" type="log4net.Appender.ADONetAppender">
      <param name="bufferSize" value="1" />
      <param name="connectionType" value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <param name="connectionString" value="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Redpackets;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Redpackets.mdf" />
      <param name="commandText" value="INSERT INTO Joya_Log ([Type],[Thread],[Level],[Message],[Exception],[Values],[CreatedAt]) VALUES (@type,@thread, @level, @message, @exception,@values,@createdAt)" />
      <parameter>
        <parameterName value="@createdAt" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@level" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{level}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@type" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{type}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@values" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{values}" />
        </layout>
      </parameter>
    </appender>
    
    <appender name="MysqlRequestAppender" type="log4net.Appender.ADONetAppender">
      <param name="bufferSize" value="1" />
      <param name="connectionType" value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
      <param name="connectionString" value="Server=localhost;Port=3306;DataBase=Redpackets;Persist Security Info=False;User ID=root;Password=;Allow Zero Datetime=true;Character Set=utf8;"/>
      <param name="commandText" value="INSERT INTO AspNetRequestLogs (`Method`,`UserAgent`,`Uri`,`Refer`,`Header`,`Form`,`SpendTime`,`Ip`,`Country`,`Province`,`City`,`CreatedAt`,`UpdatedAt`) VALUES (@method,@userAgent,@uri,@refer,@header,@form,@spendTime,@ip,@country,@province,@city,@createdAt,@updatedAt)" />
      <parameter>
        <parameterName value="@updatedAt" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@method" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{method}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@methodName" />
        <dbType value="String" />
        <size value="10" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{methodName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@userAgent" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{userAgent}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@uri" />
        <dbType value="String" />
        <size value="200" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{uri}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@refer" />
        <dbType value="String" />
        <size value="500" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{refer}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@header" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{header}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@form" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{form}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@spendTime" />
        <dbType value="Double" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{spendTime}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@createdAt" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{createdAt}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ip" />
        <dbType value="String" />
        <size value="15" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{ip}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@country" />
        <dbType value="String" />
        <size value="40" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{country}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@province" />
        <dbType value="String" />
        <size value="40" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{province}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@city" />
        <dbType value="String" />
        <size value="40" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{city}" />
        </layout>
      </parameter>
    </appender>
    <appender name="MysqlSqlAppender" type="log4net.Appender.ADONetAppender">
      <param name="bufferSize" value="1" />
      <param name="connectionType" value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
      <param name="connectionString" value="Server=localhost;Port=3306;DataBase=Redpackets;Persist Security Info=False;User ID=root;Password=;Allow Zero Datetime=true;Character Set=utf8;" />
      <param name="commandText" value="INSERT INTO AspNetSqlLogs (`Message`,`Exception`,`Sql`,`DbParameters`,`SpendTime`,`CreatedAt`,`UpdatedAt`) VALUES (@message,@exception,@sql,@dbParameters,@spendTime,@createdAt,@updatedAt)" />
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@sql" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{sql}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@dbParameters" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{dbParameters}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@spendTime" />
        <dbType value="Double" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{spendTime}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@createdAt" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{createdAt}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@updatedAt" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
    </appender>
    <appender name="MysqlAppender" type="log4net.Appender.ADONetAppender">
      <param name="bufferSize" value="1" />
      <param name="connectionType" value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
      <param name="connectionString" value="Server=localhost;Port=3306;DataBase=Redpackets;Persist Security Info=False;User ID=root;Password=;Allow Zero Datetime=true;Character Set=utf8;" />
      <param name="commandText" value="INSERT INTO AspNetLogs (`Type`,`Thread`,`Level`,`Message`,`Exception`,`Values`,`CreatedAt`) VALUES (@type,@thread, @level, @message, @exception,@values,@createdAt)" />
      <parameter>
        <parameterName value="@createdAt" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@level" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{level}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@type" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{type}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@values" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{values}" />
        </layout>
      </parameter>
    </appender>

    <appender name="FileRequestAppender" type="log4net.Appender.RollingFileAppender">
      <file value="App_Data\\RequestLogs\\"/><!--日志文件名开头-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/><!--多线程时采用最小锁定-->
      <appendToFile value="true"/><!--是否追加到文件,默认为true，通常无需设置-->
      <staticLogFileName value="false"/><!--设置动态文件名-->
      <rollingStyle value="Composite"/><!--变换的形式:为Date时按日期变换，此时每天只有一个日志;为Composite时按日志大小变换，此时MaxSizeRollBackups和maximumFileSize的节点设置才有意义-->
      <datePattern value="yyyy-MM-dd'.log'"/><!--日期的格式 (yyyyMMdd)，每天换一个文件记录，如不设置则永远只记录一天的日志，需设置-->
      <MaxSizeRollBackups value="100"/><!--每天记录的日志文件个数，与maximumFileSize配合使用-->
      <maximumFileSize value="8MB"/><!--每个日志文件的最大大小;可用的单位:KB|MB|GB;不要使用小数,否则会一直写入当前日志-->
      <layout type="log4net.Layout.PatternLayout">
        <header value="------------------------------------------------------------"/>
        <conversionPattern value="%newline[%date]%property{methodName} %property{uri}%n[spendTime]%property{spendTime}%n[ip]%property{ip}%n[area]%property{country}%property{province}%property{city}%n[thread]%thread%n[refer]%property{refer}%n[userAgent]%property{userAgent}%n[header]%property{header}%n[form]%property{form}%n"/>
      </layout>
    </appender>
    <appender name="FileSqlAppender" type="log4net.Appender.RollingFileAppender">
      <file value="App_Data\\SqlLogs\\"/><!--日志文件名开头-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/><!--多线程时采用最小锁定-->
      <appendToFile value="true"/><!--是否追加到文件,默认为true，通常无需设置-->
      <staticLogFileName value="false"/><!--设置动态文件名-->
      <rollingStyle value="Composite"/><!--变换的形式:为Date时按日期变换，此时每天只有一个日志;为Composite时按日志大小变换，此时MaxSizeRollBackups和maximumFileSize的节点设置才有意义-->
      <datePattern value="yyyy-MM-dd'.log'"/><!--日期的格式 (yyyyMMdd)，每天换一个文件记录，如不设置则永远只记录一天的日志，需设置-->
      <MaxSizeRollBackups value="100"/><!--每天记录的日志文件个数，与maximumFileSize配合使用-->
      <maximumFileSize value="8MB"/><!--每个日志文件的最大大小;可用的单位:KB|MB|GB;不要使用小数,否则会一直写入当前日志-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline[%date]%message %n[spendTime]%property{spendTime}%n[sql]%property{sql}%n[dbParameters]%property{dbParameters}%n[thread]%thread%n[%logger]%property{NDC}%n[stacktrace]%exception%n"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="App_Data\\Logs\\"/><!--日志文件名开头-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/><!--多线程时采用最小锁定-->
      <appendToFile value="true"/><!--是否追加到文件,默认为true，通常无需设置-->
      <staticLogFileName value="false"/><!--设置动态文件名-->
      <rollingStyle value="Composite"/><!--变换的形式:为Date时按日期变换，此时每天只有一个日志;为Composite时按日志大小变换，此时MaxSizeRollBackups和maximumFileSize的节点设置才有意义-->
      <datePattern value="yyyy-MM-dd'.log'"/><!--日期的格式 (yyyyMMdd)，每天换一个文件记录，如不设置则永远只记录一天的日志，需设置-->
      <MaxSizeRollBackups value="100"/><!--每天记录的日志文件个数，与maximumFileSize配合使用-->
      <maximumFileSize value="8MB"/><!--每个日志文件的最大大小;可用的单位:KB|MB|GB;不要使用小数,否则会一直写入当前日志-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date]%level:%message%n[thread]%thread%n[%logger]:%property{NDC}%n[context]%property{values}%n[stacktrace]%n%exception%newline"/>
      </layout>
    </appender>
    
    <logger name="RequestLogger" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="FileRequestAppender" />
    </logger>
    <logger name="SqlLogger" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="FileSqlAppender" />
    </logger>
    <logger name="Logger" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender" />
    </logger>
  </log4net>
</configuration>